<html>
<head>
	<title></title>
</head>
<body>
<div class="container">
	<h1 style="text-align: center"> Welcome!</h1>

	<div ng-controller="apicontroller">
		<ul class="nav nav-tabs">

		  <li class="nav-item">
		    <a ng-class="homecss" href="" ng-click="hometab()">Home</a>
		   <!--  <a class="nav-link active">Home</a> -->
		  </li>
		  <li class="nav-item">
		    <a ng-class="dotacss" href="" ng-click="dotatab()">Dota</a>
		  </li>
		  <!-- <li class="nav-item">
		    <a class="nav-link" href="">Link</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link disabled" href="#">Disabled</a>
		  </li> -->
		</ul>
		<div class="nba row" ng-if="home">
			<div class="column">
				<h2> Today's NBA Games</h2>
					<div ng-show="loaded"  class="progress">
  						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
					<p ng-repeat="index in nbaschedule">{{index.game}}
					<a ng-if="index.href != 'None'" href="https://www.reddit.com{{index.href}}">Link</a> 
					<p ng-if="index.href.length == 4"> No Link Yet</p>
				</p>
			</div>
			<div class="column">
				<h1> NBA Highlights</h1>
				 
					  <button ng-click="showcard()"class="btn btn-primary" type="button">
					   Show
					  </button>
				
					<div ng-show="show" class="card">
						<p ng-repeat="index in nbavods">{{index.Title}}
							<a href="https://www.youtube.com/watch?v={{index.videoID}}"><img src="{{index.Thumbnail}}"></a>
					
						</p>
					</div>
			</div>
		</div>
		<div class="dota row" ng-if="dota">
			<h1>Website blocked :( (will update in the future)</h1>
			<p></p>
			<div class="column">
			<h2> Ongoing Dota Tournaments (May be limited requests)local</h2>
			<p ng-repeat="index in dotatourneys"><a href="http://liquipedia.net{{index.href}}#Group_Stage">{{index.Tournament}}</a></p>
		</div>
		<div class="column">
			<h1> Dota Highlights</h1>

				<p ng-repeat="index in dotavods">{{index.Team}}  <a href="http://www.gosugamers.net{{index.hyperlink}}">Link</a> Date Added: {{index.date_added}}</p>
		</div>
	</div>
</div>
</body>
</html>